<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 class="form-signin-heading text-center mb-5">사용자 정보</h2>
        <hr/>
        <h3 class="overview-normalize">NAME</h3>
            <p>
                {{ user.username }}
            </p>
        <hr/>
        <h3 class="overview-normalize">ID</h3>
            <p>
                {{ user.userid }}
            </p>
        <hr/>
    </div>
</body>
</html>